body {
        background-image: url('https://openweather.co.uk/storage/app/media/uploaded-files/ow_storm.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Arial', sans-serif;
        background-color: rgb(247, 244, 243);
        color: #ffffff;
        line-height: 1.6;
        font-weight: bold;
    }
   